{
  "semi": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "trailingComma": "none",
  "arrowParens": "avoid",
  "proseWrap": "always",
  "overrides": [
    {
      "files": "*.pug",
      "options": {
        "singleQuote": false
      }
    }
  ],
  "pugAttributeSeparator": "as-needed",
  "pugCommentPreserveSpaces": "trim-all",
  "pugSortAttributes": "asc",
  "pugSortAttributesBeginning": [
    "^cols$",
    "^v-else$",
    "^v-for$",
    "^:key$",
    "^v-if$",
    "^v-else-if$",
    "^v-on$",
    "^v-bind$",
    "^ref$",
    "^v-model",
    "^name$",
    "^:?type$",
    "^:value$",
    "^v-text$",
    "^:?label$",
    "^:headers$",
    "^:items$",
    "^:?item-text$",
    "^:?item-value$",
    "^:?item-disabled$",
    "^:?placeholder$",
    "^:?src$",
    "^:?color$",
    "^:?text-color$",
    "^:?icon$",
    "^:?small$"
  ],
  "pugSortAttributesEnd": [
    "^:?hint$",
    "^:?persistent-hint$",
    "^prepend-",
    "^@click:prepend",
    "^append-",
    "^@click:append",
    "^:to$",
    "^exact$",
    "^:(?!(width|height|loading|disabled|data-))",
    "^target$",
    "^:?width$",
    "^:?height$",
    "^@click",
    "^@",
    "^:loading$",
    "^:disabled$",
    "^:?data-"
  ],
  "pugEmptyAttributes": "none",
  "pugClassNotation": "attribute",
  "pugExplicitDiv": true
}
