extends ../../../templates/template.pug
include ../../../utils/pageCity
include ../../../utils/cardTransportInfoNorth

block append variables
  - const CURRENT_PAGE = "terminal-norte"
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../../"
  - const HAS_CRITICAL_CSS = false
  - const APPLICATION_NAME = "Estelí Buses"
  - const META_DESCRIPTION = "Conoce todos los horarios de los buses que salen desde Estelí hacia San Juan del Río Coco."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = URL
  - const SOCIAL_TITLE = "Horarios de los Buses de Estelí hacia San Juan del Río Coco"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect
  link(crossorigin href="//www.google.com/" rel="preconnect")/
  link(crossorigin href="//maps.googleapis.com/" rel="preconnect")/
  link(crossorigin href="//maps.gstatic.com/" rel="preconnect")/

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload

block append defer-scripts

block append content
  +pageCity('San Juan del Río Coco', 'Terminal norte', 'Terminal de San Juan del Río Coco', '94.3 km', 'https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d248485.9693436876!2d-86.42876569531984!3d13.313328625357306!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8f718c6c8f2298e7%3A0x855d282eb62cfeed!2sCotran%20Norte%2C%20Estel%C3%AD!3m2!1d13.0816363!2d-86.352126!4m5!1s0x8f6df8cf58d211df%3A0x1cbc7b178d7381a8!2sSan%20Juan%20del%20R%C3%ADo%20Coco!3m2!1d13.5448074!2d-86.16627419999999!5e0!3m2!1ses-419!2sni!4v1645808474272!5m2!1ses-419!2sni')
    +cardTransportInfoNorth('Horario #1', '10:15 am', 'Ruteado', 'El Amado', '100', '2.7 horas', false, false, true)
    +cardTransportInfoNorth('Horario #2', '02:30 pm', 'Ruteado', 'Laguna', '100', '2.7 horas', false, false, true)
    +cardTransportInfoNorth('Horario #3', '03:50 pm', 'Ruteado', 'Wendy', '100', '2.7 horas', false, false, true)
