extends ../../templates/template.pug
include ../../utils/pageTerminal

block append variables
  - const CURRENT_PAGE = "terminal-sur"
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../"
  - const HAS_CRITICAL_CSS = true
  - const APPLICATION_NAME = "Buses Esteli"
  - const META_DESCRIPTION = "Conoce todos los horarios de los buses de la Terminal Sur de la ciudad de Estelí."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = URL
  - const SOCIAL_TITLE = "Horarios de la Terminal Sur de Buses de Estelí"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload

block append defer-scripts
  script(src=`${ASSETS_PATH}js/lazy-bg.js` defer importance="low")
  script(src=`${ASSETS_PATH}js/search.js` defer importance="high")

block append content
  +pageTerminal('terminal-sur', 'Horarios de la terminal sur de Estelí', 'Conoce todos los horarios de la terminal sur de Estelí y elige la ciudad a la que deseas viajar.', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit', '1234-5678', 'Conoce sobre la Terminal Sur de Estelí', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.', 'Fachada de la Terminal Sur de Estelí.', false, 'Managua', 'Matagalpa', 'León', 'Murra', 'Achuapa', 'San Nicolás')
