<a
  class="flex w-full items-center gap-x-2 py-4 transition-colors active:text-orange-600 any-hover:text-orange-600 lg:justify-end"
  href="/acerca-de-estelibuses"
>
  <span class="lg:order-1">
    <svg class="fill-current" viewBox="0 0 24 24" width="22" height="22">
      <path
        d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"
      ></path>
    </svg>
  </span>
  <span class="lg:order-first">Sobre Estelí Buses</span>
</a>
