<a
  class={`
    flex w-full items-center gap-x-2 py-4 transition-colors
    active:text-orange-600
    lg:justify-end
    any-hover:text-orange-600
  `}
  href="/contacto"
>
  <span class="lg:order-1">
    <svg class="fill-current" viewBox="0 0 24 24" width="22" height="22">
      <path
        d="M20 20H7a2 2 0 0 1-2-2V9L2.2 5.5A1 1 0 0 1 2 5a1 1 0 0 1 1-1h17a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2M8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-10m0 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-10m0 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-5Z"
      >
      </path>
    </svg>
  </span>
  <span class="lg:order-first">Contacto</span>
</a>
