<a
  class={`
    flex w-full items-center gap-x-2 py-4 transition-colors
    active:text-orange-600
    lg:justify-end
    any-hover:text-orange-600
  `}
  href="/guia-de-instalacion"
>
  <span class="lg:order-1">
    <svg
      class="fill-none stroke-current"
      width="22"
      height="22"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke-linecap="square"
      stroke-linejoin="round"
    >
      <path d="M3 15v4c0 1.1.9 2 2 2h14a2 2 0 0 0 2-2v-4M17 9l-5 5-5-5M12 12.8V2.5"></path>
    </svg>
  </span>
  <span class="relative lg:order-first">
    Guía de Instalación
    <span
      class={`
        absolute top-0 right-0 flex h-3 w-3 translate-x-2 -translate-y-1 scale-75
        lg:right-auto lg:left-0 lg:-translate-x-3
      `}
    >
      <span
        class={`
          absolute inline-flex h-full w-full animate-ping rounded-full bg-orange-400 opacity-90
        `}
      >
      </span>
      <span class="relative inline-flex h-3 w-3 rounded-full bg-orange-500"></span>
    </span>
  </span>
</a>
