---
import Switch from '@components/Switch.astro'
---

<section class="flex justify-between py-4">
  <section
    class={`
      flex items-center gap-x-2 transition-colors
      active:text-orange-600
      lg:order-1
      any-hover:text-orange-600
    `}
  >
    <span class="lg:order-1">
      <svg
        class="fill-current"
        id="sound-disable"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      >
        <path
          d="m5.64 3.64 15.72 15.72-1.41 1.42L16 16.83V20l-5-5H7V9h1.17L4.22 5.05l1.42-1.41M16 4v7.17l-3.59-3.59L16 4Z"
        >
        </path>
      </svg>
      <svg
        class="hidden fill-current"
        id="sound-enable"
        viewBox="0 0 24 24"
        width="24"
        height="24"
      >
        <path
          d="M14 3.2v2a7 7 0 0 1 0 13.5v2a9 9 0 0 0 0-17.5m2.5 8.8c0-1.8-1-3.3-2.5-4v8a4.4 4.4 0 0 0 2.5-4M3 9v6h4l5 5V4L7 9H3Z"
        >
        </path>
      </svg>
    </span>
    <label
      class="cursor-pointer lg:order-first"
      id="label-sound"
      for="switch-sound"
    >
      Desactivar sonidos
    </label>
  </section>
  <Switch id="switch-sound" checked={true} />
</section>

<script>
  const $ = (sel: string) => document.querySelector(sel)

  const switchSound = $('#switch-sound') as HTMLInputElement
  const labelSound = $('#label-sound') as HTMLLabelElement
  const soundDisableIcon = $('#sound-disable') as HTMLElement
  const soundEnableIcon = $('#sound-enable') as HTMLElement

  const soundDarkMode = new Audio('/sounds/switch.mp3')

  switchSound.addEventListener('change', (e) => {
    if (!(e.target as HTMLInputElement).checked) {
      localStorage.setItem('sounds_enabled', 'false')

      if (
        'vibrate' in navigator
        && localStorage.getItem('sounds_enabled') === 'false'
      ) {
        navigator.vibrate(80)
      }

      labelSound.textContent = 'Activar sonidos'
      soundEnableIcon.classList.toggle('hidden')
      soundDisableIcon.classList.toggle('hidden')
      switchSound.checked = false
    } else {
      localStorage.setItem('sounds_enabled', 'true')

      if (localStorage.getItem('sounds_enabled') === 'true') {
        soundDarkMode.play()
      }

      labelSound.textContent = 'Desactivar sonidos'
      soundEnableIcon.classList.toggle('hidden')
      soundDisableIcon.classList.toggle('hidden')
      switchSound.checked = true
    }
  })
</script>
