include ../../../utils/cardTransportOthers

//- cardTransportInfoOthers(transport, from, fromTime, to, toTime, time, transportType, transportName, transportID, price, tripTime, transportDestiny, id)

- const precioPasaje = "15"

+cardTransportInfoOthers('Horario #1', '', '', '', '', '05:15 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #2', '', '', '', '', '05:45 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #3', '', '', '', '', '06:15 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #4', '', '', '', '', '06:45 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #5', '', '', '', '', '07:15 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #6', '', '', '', '', '07:45 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #7', '', '', '', '', '08:15 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #8', '', '', '', '', '08:45 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #9', '', '', '', '', '09:15 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #10', '', '', '', '', '09:45 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #11', 'Matagalpa', '06:50 am', 'Estelí', '10:15 am', '', 'Ruteado', 'Moreno', 'ES 057', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #12', '', '', '', '', '10:45 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #13', 'Matagalpa', '07:50 am', 'Estelí', '11:15 am', '', 'Ruteado', 'Moreno', 'ES 222', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #14', '', '', '', '', '11:45 am', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #15', '', '', '', '', '12:15 pm', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #16', '', '', '', '', '12:45 pm', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #17', '', '', '', '', '01:15 pm', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #18', '', '', '', '', '01:45 pm', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #19', '', '', '', '', '02:15 pm', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #20', '', '', '', '', '02:45 pm', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #21', 'Matagalpa', '05:00 am', 'Estelí', '03:15 pm', '', 'Ruteado', 'Moreno', 'ES 244', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #22', '', '', '', '', '03:45 pm', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #23', 'Matagalpa', '12:50 pm', 'Estelí', '04:15 pm', '', 'Ruteado', 'Moreno', 'ES 057', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #24', '', '', '', '', '04:45 pm', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')

+cardTransportInfoOthers('Horario #25', '', '', '', '', '05:45 pm', 'Ruteado', '', '', precioPasaje, '20 minutos', 'Matagalpa', 'city-two')
