@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    @apply bg-orange-100 transition-colors;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    @apply bg-orange-300 transition-colors;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-orange-400 transition-colors;
  }

  ::selection {
    @apply bg-orange-100 text-orange-400;
  }

  * {
    scrollbar-color: #fdba74 #ffedd5;
    scrollbar-width: thin;
  }

  html {
    @apply scroll-smooth;
    color-scheme: dark light;
  }

  html,
  body {
    scroll-padding-top: 130px;
    overscroll-behavior-y: contain;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
  }

  body {
    @apply bg-white text-neutral-800 transition-colors duration-150 dark:bg-[#292018] dark:text-white;
  }

  h1 {
    @apply text-4xl font-bold text-[#3b0d15] dark:text-orange-50 sm:text-5xl;
  }

  h2 {
    @apply text-3xl font-bold text-[#3b0d15] dark:text-orange-50 sm:text-4xl;
  }

  h3:not(footer h3) {
    @apply text-2xl font-bold text-[#3b0d15] dark:text-orange-50;
  }

  h4 {
    @apply text-xl font-bold text-[#3b0d15] dark:text-orange-50;
  }

  p {
    @apply text-base sm:text-lg;
  }

  p a,
  main ul li a,
  #list-cities li a {
    @apply font-semibold text-orange-500 underline transition-colors active:text-orange-600 any-hover:text-orange-600;
  }
}
@layer utilities {
  .content-visible {
    content-visibility: visible;
    contain: style layout paint;
  }

  .content-hidden {
    content-visibility: hidden;
  }

  .content-auto {
    content-visibility: auto;
  }
}
