extends ../templates/template.pug

block append variables
  - const CURRENT_PAGE = ""
  - const URL = "https://busesesteli.web.app"
  - const ASSETS_PATH = "/"
  - const SERVER_PAGE = true
  - const APPLICATION_NAME = "Estelí Buses"
  - const META_DESCRIPTION = ""
  - const META_ROBOTS = "noindex, nofollow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = URL
  - const SOCIAL_TITLE = ""
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = ""

block append title
  title Página no encontrada | Buses Estelí

block append preconnect

block append async-scripts

block append critical-css

block append stylesheets

block append preload

block append defer-scripts

block append content
