---
/* eslint-disable astro/jsx-a11y/label-has-associated-control, astro/jsx-a11y/heading-has-content */

import Layout from '@layouts/Layout.astro'

import Navbar from '@components/Navbar.astro'

const options = {
  title: 'Contacto | Estelí Buses',
  description:
    'Contacta con Estelí Buses, la plataforma dónde conocerás todos los horarios de las terminales de la ciudad de Estelí.'
}
---

<Layout {options}>
  <header>
    <div class="container mx-auto px-4">
      <Navbar />
    </div>
  </header>
  <main class="container mx-auto px-4">
    <section
      class="pt-[4.5rem] pb-[6.5rem] xs:pb-36 lg:pt-28 lg:pb-[8.5rem] xl:pb-44 2xl:pb-[13.5rem] text-center max-w-6xl mx-auto space-y-6"
    >
      <h1 class="mb-8">Contacto</h1>

      <p>Envía un mensaje a través del siguiente formulario.</p>

      <form
        class="rounded space-y-5 shadow-md shadow-orange-800/10 w-full p-8 lg:mx-auto lg:w-3/5 text-left bg-[#FFFDF9] dark:bg-[#362d25]"
        id="form"
        name="form"
        autocomplete="off"
      >
        <section class="space-y-2">
          <label
            class="after:content-['*'] after:ml-0.5 after:text-orange-500 block"
            for="name">Escribe tu nombre y apellido</label
          >
          <input
            class="border border-orange-100 dark:border-orange-900 rounded outline-none w-full py-2 px-4 block caret-orange-500 dark:placeholder-orange-50 bg-white dark:bg-[#2D231B] focus:border-transparent focus:outline-none focus:ring-2 focus:ring-orange-500 dark:focus:ring-orange-400"
            id="name"
            name="name"
            type="text"
            placeholder="Juan Peréz"
            maxlength="50"
            minlength="4"
            pattern="[A-z?ÁáÉéÍíÓóÚúÑñ\\s]+"
            required
          />
        </section>
        <section class="space-y-2">
          <label
            class="after:content-['*'] after:ml-0.5 after:text-orange-500 block"
            for="email">Escribe tu correo electrónico</label
          >
          <input
            class="border border-orange-100 dark:border-orange-900 rounded outline-none w-full py-2 px-4 block caret-orange-500 dark:placeholder-orange-50 bg-white dark:bg-[#2D231B] focus:border-transparent focus:outline-none focus:ring-2 focus:ring-orange-500 dark:focus:ring-orange-400"
            id="email"
            name="email"
            type="email"
            placeholder="ejemplo@correo.com"
            maxlength="60"
            minlength="4"
            required
          />
        </section>
        <section class="space-y-2">
          <label class="block" for="subject">Asunto</label>
          <select
            class="border border-orange-100 dark:border-orange-900 rounded outline-none bg-white dark:bg-[#2D231B] w-full py-2 px-4 block focus:border-transparent focus:outline-none focus:ring-2 focus:ring-orange-500 dark:focus:ring-orange-400"
            id="subject"
            name="subject"
          >
            <option>Selecciona una opción</option>
            <optgroup label="Planes publicitarios">
              <option value="Plan patrocinador">Plan patrocinador</option>
              <option value="Plan básico">Plan básico</option>
              <option value="Plan intermedio">Plan intermedio</option>
              <option value="Plan avanzado">Plan avanzado</option>
            </optgroup>
            <optgroup label="Otras opciones">
              <option value="Consulta">Consulta</option>
              <option value="Recomendación">Recomendación</option>
              <option value="Otro">Otro</option>
            </optgroup>
          </select>
        </section>
        <section class="space-y-2">
          <section class="flex items-center justify-between">
            <label
              class="after:content-['*'] after:ml-0.5 after:text-orange-500 block"
              for="message">Escribe tu mensaje</label
            >
            <output class="text-xs text-gray-400 select-none" id="limit-message"
              >850</output
            >
          </section>
          <textarea
            class="border border-orange-100 dark:border-orange-900 rounded outline-none h-80 w-full py-2 px-4 resize-none block caret-orange-500 md:h-60 bg-white dark:bg-[#2D231B] dark:placeholder-orange-50 focus:border-transparent focus:outline-none focus:ring-2 focus:ring-orange-500 dark:focus:ring-orange-400"
            id="message"
            name="message"
            placeholder="¡Hola!, quiero hacer una consulta..."
            maxlength="850"
            minlength="20"
            required></textarea>
        </section>
        <button
          class="rounded flex font-semibold bg-orange-500 text-center text-white w-full py-2.5 px-5 transition-colors duration-300 items-center justify-center hover:bg-orange-600 focus:outline-none focus:ring-4 focus:ring-orange-400 focus:ring-opacity-75 disabled:bg-orange-600/50"
          id="submit"
          type="submit"
        >
          <svg
            class="animate-spin hidden mr-3 text-white"
            id="spinner"
            fill="none"
            viewBox="0 0 24 24"
            width="16"
            height="16"
          >
            <circle
              class="opacity-25"
              cx="12"
              cy="12"
              r="10"
              stroke="currentColor"
              stroke-width="4"></circle>
            <path
              class="opacity-75"
              d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
              fill="currentColor"></path>
          </svg>
          <span id="submitText">Enviar mensaje</span>
        </button>
        <p class="text-xs text-gray-500 dark:text-gray-300">
          Tu correo electrónico será tratado únicamente por Estelí Buses, con la
          finalidad de enviar información. Al envíar el formulario aceptas la <a
            class="transition-colors text-orange-500 dark:text-orange-400 any-hover:text-orange-600 any-hover:underline dark:any-hover:text-orange-500"
            href="/politica-de-privacidad">política de privacidad</a
          >.
        </p>
      </form>
    </section>
  </main>
  <section
    class="fixed z-10 bottom-0 transform transition opacity-0 translate-y-full w-full select-none pointer-events-none"
    id="snackbar"
    slot="dynamic-components"
  >
    <article
      class="mx-auto relative bg-green-500 text-white py-4 px-2 rounded shadow max-w-full w-80 xs:w-96 text-center"
    >
      <h3 class="font-bold text-lg mb-2 !text-white"></h3>
      <p></p>
    </article>
  </section>
</Layout>
<script>
  const $ = (el) => document.getElementById(el)
  const $$ = (el) => document.querySelector(el)

  const { form } = document.forms

  const name = $('name')
  const email = $('email')
  const message = $('message')
  const submit = $('submit')
  const submitText = $('submitText')
  const spinner = $('spinner')

  const snackbar = $('snackbar')
  const snackbarContainer = $$('#snackbar > article')
  const snackbarTitle = $$('#snackbar > article > h3')
  const snackbarText = $$('#snackbar > article > p')

  const limitCaptionMessage = $('limit-message')

  function validateInput(e, el, limitFallback) {
    const limitInput = el.maxLength || limitFallback

    if (e.target === message) {
      limitCaptionMessage.textContent = limitInput - el.value.length
    }

    if (e.target === el) {
      if (el.value.length >= limitInput) {
        e.preventDefault()
      }

      if (e.target.validity.valid) {
        el.classList.add('border-green-500', 'focus:ring-green-500')
        el.classList.remove('border-red-500', 'focus:ring-red-500')
      } else {
        el.classList.add('border-red-500', 'focus:ring-red-500')
        el.classList.remove('border-green-500', 'focus:ring-green-500')
      }
    }
  }

  form.addEventListener('input', (e) => {
    validateInput(e, name, 50)
    validateInput(e, email, 60)
    validateInput(e, message, 850)
  })

  function checkValidity(el) {
    if (el.validity.valid) {
      el.classList.add('border-green-500', 'focus:ring-green-500')
      el.classList.remove('border-red-500', 'focus:ring-red-500')
    } else {
      el.classList.add('border-red-500', 'focus:ring-red-500')
      el.classList.remove('border-green-500', 'focus:ring-green-500')
    }
  }

  function errorMessages(error, status, title, description) {
    if (error.message === status) {
      submitText.textContent = 'Enviar Mensaje'
      submit.removeAttribute('disabled')
      submit.classList.remove('cursor-progress')
      spinner.classList.add('hidden')

      if (status === '422') {
        name.classList.add('border-red-500')
        email.classList.add('border-red-500')
        message.classList.add('border-red-500')
      }

      snackbarTitle.textContent = title
      snackbarText.textContent = description
      snackbar.classList.replace('translate-y-full', '-translate-y-[4.5rem]')
      snackbarContainer.classList.replace('bg-green-500', 'bg-red-500')
      snackbar.classList.replace('opacity-0', 'opacity-100')
      setTimeout(() => {
        snackbar.classList.replace('-translate-y-[4.5rem]', 'translate-y-full')
        snackbar.classList.replace('opacity-100', 'opacity-0')
      }, 6000)
    }
  }

  form.addEventListener('submit', (e) => {
    e.preventDefault()

    if (name.validity.valid && email.validity.valid && message.validity.valid) {
      submitText.textContent = 'Enviando...'
      submit.setAttribute('disabled', 'true')
      submit.classList.add('cursor-progress')
      spinner.classList.remove('hidden')
    }

    checkValidity(name)
    checkValidity(email)
    checkValidity(message)

    const formData = new URLSearchParams(new FormData(form))

    fetch(
      'https://us-central1-buses-esteli-d2d5e.cloudfunctions.net/form/enviar',
      {
        method: 'POST',
        body: formData
      }
    )
      .then((response) => {
        if (response.ok) {
          form.reset()

          name.classList.remove(
            'border-green-500',
            'focus:ring-green-500',
            'border-red-500',
            'focus:ring-red-500'
          )
          email.classList.remove(
            'border-green-500',
            'focus:ring-green-500',
            'border-red-500',
            'focus:ring-red-500'
          )
          message.classList.remove(
            'border-green-500',
            'focus:ring-green-500',
            'border-red-500',
            'focus:ring-red-500'
          )

          submitText.textContent = 'Enviar Mensaje'
          submit.removeAttribute('disabled')
          submit.classList.remove('cursor-progress')
          spinner.classList.add('hidden')
          limitCaptionMessage.textContent = message.maxLength || 850

          return response.json()
        }

        throw new Error(response.status)
      })
      .then((data) => {
        snackbarContainer.classList.replace('bg-red-500', 'bg-green-500')
        snackbarTitle.textContent = data.title
        snackbarText.textContent = data.message
        snackbar.classList.replace('translate-y-full', '-translate-y-[4.5rem]')
        snackbar.classList.replace('opacity-0', 'opacity-100')
        setTimeout(() => {
          snackbar.classList.replace(
            '-translate-y-[4.5rem]',
            'translate-y-full'
          )
          snackbar.classList.replace('opacity-100', 'opacity-0')
        }, 6000)
      })
      .catch((error) => {
        errorMessages(
          error,
          '408',
          'El mensaje no se ha podido enviar',
          'Disculpa las molestias pero por favor, intenta enviar nuevamente tu mensaje.'
        )
        errorMessages(
          error,
          '500',
          'El mensaje no se ha podido enviar',
          'Disculpa las molestias pero por favor, intenta enviar nuevamente tu mensaje.'
        )
        errorMessages(
          error,
          '422',
          'Error en el formulario',
          'Por favor verifica que has completado correctamente el campo de nombre, email y de mensaje.'
        )
      })
  })
</script>
