---
import Layout from '@layouts/Layout.astro'

import { Picture } from 'astro-imagetools/components'

import Navbar from '@components/Navbar.astro'

const options = {
  title: 'Sin conexión a internet | Estelí Buses',
  meta_robots: 'noindex, nofollow'
}
---

<Layout {options}>
  <header class="safe-top container mx-auto px-4">
    <Navbar />
  </header>
  <main
    class="pt-[4.5rem] pb-[6.5rem] text-center xs:pb-36 lg:pt-28 lg:pb-[8.5rem] xl:pb-44 2xl:pb-[13.5rem]"
  >
    <div class="container mx-auto space-y-6 px-4">
      <h1 class="mx-auto max-w-screen-lg">No tienes conexión a internet</h1>
      <p>
        Por favor vuelve cuánto tengas conexión para visualizar esta página o
        intenta recargar manualmente si ha sido un poblema temporal.
      </p>
      <button
        class="rounded bg-orange-400 py-2.5 px-5 font-semibold text-white shadow-lg shadow-orange-500/30 transition-colors active:shadow-orange-600/30 active:outline-none active:ring-4 active:ring-orange-400 active:ring-opacity-75 any-hover:bg-orange-500 any-hover:shadow-orange-600/30"
        id="reload"
        type="button">Recargar página</button
      >
      <section class="mx-auto max-w-2xl">
        <Picture
          src="/img/offline.png"
          alt="Imágen Offline"
          attributes={{
            link: {
              fetchpriority: 'high'
            }
          }}
          loading="eager"
          width={672}
        />
      </section>
    </div>
  </main>
</Layout>

<script>
  document.getElementById('reload').addEventListener('click', () => {
    window.location.reload()
  })

  window.addEventListener('online', () => {
    window.location.reload()
  })
</script>
