include ../../../utils/cardTransportOthers

//- cardTransportInfoOthers(transport, from, fromTime, to, toTime, time, transportType, transportName, transportID, price, tripTime, transportDestiny, id)

- const ruteadoPrice = "30"

+cardTransportInfoOthers('Horario #1', '', '', '', '', '03:30 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #2', '', '', '', '', '04:00 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #3', '', '', '', '', '04:30 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #4', '', '', '', '', '05:00 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #5', '', '', '', '', '05:30 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #6', '', '', '', '', '06:00 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #7', '', '', '', '', '06:30 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #8', '', '', '', '', '07:00 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #9', '', '', '', '', '07:30 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #10', 'Estelí', '08:00 am', 'Managua', '03:00 pm', '', 'Ruteado', 'Moreno', 'ES 268', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #11', '', '', '', '', '08:30 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #12', 'Estelí', '08:45 am', 'Managua', '01:40 pm', '', 'Expreso', 'Moreno', 'ES 228', expresoPrice, '2.4 horas', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #13', '', '', '', '', '09:00 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #14', '', '', '', '', '09:30 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #15', '', '', '', '', '10:00 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #16', '', '', '', '', '10:30 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #17', '', '', '', '', '11:00 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #18', '', '', '', '', '11:30 am', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #19', '', '', '', '', '12:00 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #20', '', '', '', '', '12:30 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #21', '', '', '', '', '01:00 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #22', '', '', '', '', '01:30 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #23', '', '', '', '', '02:00 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #24', '', '', '', '', '02:30 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #25', '', '', '', '', '03:00 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #26', '', '', '', '', '03:30 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #27', '', '', '', '', '04:00 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #28', '', '', '', '', '04:30 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #29', '', '', '', '', '05:00 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')

+cardTransportInfoOthers('Horario #30', '', '', '', '', '06:00 pm', 'Ruteado', '', '', ruteadoPrice, '40 minutos', 'Managua', 'city-one')
