extends ../../../templates/template.pug
include ../../../utils/pageCity
include ../../../utils/cardTransportInfo

block append variables
  - const CURRENT_PAGE = "terminal-sur"
  - const URL = "https://estelibuses.web.app"
  - const ASSETS_PATH = "../../"
  - const HAS_CRITICAL_CSS = false
  - const APPLICATION_NAME = "Esteli Buses"
  - const META_DESCRIPTION = "Conoce todos los horarios de los buses que salen desde Estelí hacia Tisey - La Estanzuela."
  - const META_ROBOTS = "index, follow"
  - const LANGUAGE = "es"
  - const CURRENT_URL = URL
  - const SOCIAL_TITLE = "Horarios de los Buses de Estelí hacía Tisey - La Estanzuela"
  - const SOCIAL_DESCRIPTION = META_DESCRIPTION
  - const SOCIAL_IMAGE = ""
  - const SOCIAL_IMAGE_ALT = SOCIAL_TITLE
  - const OPEN_GRAPH_SITE_NAME = ""
  - const TWITTER_CARD = "summary_large_image"

block append title
  title= SOCIAL_TITLE

block append preconnect

block append async-scripts

block append critical-css

block append stylesheets
  link(href=`${ASSETS_PATH}css/style.css` rel="stylesheet")/

block append preload

block append defer-scripts

block append content
  +pageCity('Tisey - La Estanzuela', 'Terminal sur', 'Terminal de Tisey - La Estanzuela', 'https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d31093.737003845337!2d-86.39357359196738!3d13.053669161324994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x8f718c42c00bc1ad%3A0x90de1ab352954a6f!2zRXN0ZWzDrQ!3m2!1d13.0851139!2d-86.3630197!4m5!1s0x8f718e6a7df386a3%3A0xff3e3ead404fd2f!2sTisey%20Estanzuela%20Natural%20Reserve%2C%20La%20Rinconada!3m2!1d13.022187899999999!2d-86.3883506!5e0!3m2!1ses-419!2sni!4v1645552369039!5m2!1ses-419!2sni')
    +cardTransportInfo('Horario #1', '06:30 am', 'Ruteado', '100', '30 minutos', false, false, true)
