<article class="mx-auto px-4 py-12 container md:py-20 sm:py-16 xl:py-28">
  <section class="mb-10 space-y-6 lg:mb-16 lg:text-center">
    <h2 class="text-center">Todos los horarios de la ciudad de Estelí</h2>
    <p class="mt-5 mx-auto text-center lg:max-w-6xl md:max-w-5xl">
      Estelí Buses te ayuda a conocer de forma fácil, rápida y confiable todos
      los horarios de los principales destinos de la terminal norte y de la
      terminal sur de la ciudad de Estelí.
    </p>
  </section>
  <article
    class="items-center justify-center gap-y-16 flex-col text-center flex md:flex-row md:gap-y-0 md:gap-x-16"
  >
    <section>
      <div class="mb-4">
        <div class="mx-auto p-3 bg-emerald-100 h-max w-max rounded-full">
          <svg
            class="fill-current text-emerald-400"
            viewBox="0 0 24 24"
            width="40"
            height="40"
          >
            <path
              d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
            ></path>
          </svg>
        </div>
      </div>
      <h3 class="mb-2 font-bold text-2xl text-emerald-500">Terminal norte</h3>
      <p class="mx-auto px-4 max-w-sm !text-base">
        La terminal norte cuenta con 22 destinos principales.
      </p><a
        class="items-center mt-4 px-5 py-2.5 space-x-1 font-semibold text-emerald-500 transition-colors active:bg-emerald-100 active:outline-none active:text-emerald-700 any-hover:bg-emerald-100 any-hover:text-emerald-700 inline-flex rounded"
        href="/terminal-norte-esteli"
        ><span>Conoce los destinos</span><span>
          <svg class="fill-current mt-[0.1625rem]" width="26" height="26">
            <path d="m8.6 16.6 4.6-4.6-4.6-4.6L10 6l6 6-6 6-1.4-1.4Z"></path>
          </svg>
        </span>
      </a>
    </section>
    <section>
      <div class="mb-4">
        <div class="mx-auto p-3 bg-amber-100 h-max w-max rounded-full">
          <svg
            class="fill-current text-amber-400"
            viewBox="0 0 24 24"
            width="40"
            height="40"
          >
            <path
              d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
            ></path>
          </svg>
        </div>
      </div>
      <h3 class="mb-2 font-bold text-2xl text-amber-500">Terminal sur</h3>
      <p class="mx-auto px-4 max-w-sm !text-base">
        La terminal sur cuenta con 10 destinos principales.
      </p><a
        class="items-center mt-4 px-5 py-2.5 space-x-1 font-semibold text-amber-500 transition-colors active:bg-amber-100 active:outline-none active:text-amber-700 any-hover:bg-amber-100 any-hover:text-amber-700 inline-flex rounded"
        href="/terminal-sur-esteli"
        ><span>Conoce los destinos</span><span>
          <svg class="fill-current mt-[0.1625rem]" width="26" height="26">
            <path d="m8.6 16.6 4.6-4.6-4.6-4.6L10 6l6 6-6 6-1.4-1.4Z"></path>
          </svg>
        </span>
      </a>
    </section>
  </article>
</article>
