---
/* eslint-disable astro/jsx-a11y/label-has-associated-control */

import northernStation from '@data/northern-station.json'
import southernStation from '@data/southern-station.json'

import { Picture } from 'astro-imagetools/components'

import '@styles/wave.css'

import Navbar from '@components/Navbar.astro'
import Greetings from '@components/Greetings.astro'

const mergeDataStations = [northernStation, southernStation]
---

<header
  class="bg-gradient-to-t from-[#fff4eb] dark:from-[#2D231B] dark:to-[#2D231B] relative to-[#ffecdb] safe-top"
>
  <div class="mx-auto px-4 container">
    <Navbar />

    <section
      class="items-center pb-[6.25rem] pt-[4.5rem] gap-[4.5rem] 2xl:pb-[13.5rem] grid lg:gap-0 lg:grid-cols-2 lg:pb-[8.5rem] lg:pt-28 xl:pb-44 xs:pb-36"
    >
      <div class="space-y-8">
        <article class="space-y-3">
          <Greetings />

          <h1
            class="mb-8 text-center md:max-w-2xl md:mx-auto lg:!mx-0 lg:text-left"
          >
            Horarios de las terminales de buses de Estelí
          </h1>
          <p
            class="text-center md:max-w-2xl md:mx-auto lg:max-w-lg lg:!mx-0 lg:text-left"
          >
            Conoce fácilmente todos los horarios de salida de los buses de las
            terminales de la ciudad de Estelí y ¡planea con exactitud la hora de
            tu próximo viaje!
          </p>
        </article>
        <section class="mb-8 mt-8">
          <form
            class="space-y-3 w-full transition-colors md:max-w-md md:mx-auto lg:!mx-0"
            id="main-search"
            autocomplete="on"
          >
            <label
              class="text-center text-xl font-semibold text-orange-400 dark:text-orange-50 block lg:text-left"
              for="cities-search">Busca tu ciudad de destino:</label
            >
            <section class="grid-cols-[1fr,100px] grid">
              <input
                class="shadow-lg shadow-orange-500/[.07] px-4 py-2.5 bg-white w-full border-orange-100 rounded-r-none placeholder-opacity-50 placeholder-orange-600 outline-none duration-150 transition-colors block border caret-orange-500 dark:bg-[#292018] dark:border-orange-400 dark:placeholder-orange-100 focus:ring-4 focus:ring-opacity-50 focus:ring-orange-400 rounded"
                id="cities-search"
                type="search"
                placeholder="Busca tu ciudad..."
              />
              <button
                class="items-center justify-center shadow-lg shadow-orange-500/[.07] px-5 py-2.5 bg-orange-400 rounded-l-none font-semibold text-white transition-colors active:outline-none active:ring-4 active:ring-opacity-75 active:ring-orange-400 any-hover:bg-orange-500 basis-30 inline-flex rounded"
                id="search-citities-button"
                type="button"
              >
                <svg class="w-4" viewBox="0 0 512 512">
                  <path
                    class="fill-current"
                    d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"
                  ></path>
                </svg>
              </button>
            </section>
          </form>
          <section class="relative w-full h-[1px]">
            <nav
              class="absolute rounded-b top-0 bg-white transform transition-all translate-y-full opacity-0 pointer-events-none shadow-md w-full max-w-md mx-auto dark:bg-[#362d25] z-20"
              id="container-cities"
            >
              <ul class="space-y-2 pb-2 px-4">
                {
                  mergeDataStations.map((info) =>
                    info.cities.map((city) => (
                      <li class="cities hidden text-left">
                        <a
                          class="mt-2 flex w-full gap-2 rounded  py-2 px-4 font-semibold transition-colors active:bg-orange-100 active:text-orange-500 any-hover:bg-orange-100 any-hover:text-orange-500 dark:active:bg-[#3E352C] dark:any-hover:bg-[#3E352C]"
                          href={`/${info.slug}/${city.slug}`}
                        >
                          <svg
                            class="mt-[0.2125rem] fill-current"
                            viewBox="0 0 24 24"
                            width="24"
                            height="24"
                          >
                            <path d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z" />
                          </svg>
                          <span class="flex flex-col">
                            <span
                              class="city-name-search"
                              data-cityname={city.slug.replace(
                                'horarios-esteli-',
                                ''
                              )}
                            >
                              {city.name}
                            </span>
                            <span class="text-xs">{info.station}</span>
                          </span>
                        </a>
                      </li>
                    ))
                  )
                }
                <li
                  class="hidden py-2 px-4 font-semibold text-left !border-0"
                  id="unknown-city"
                >
                  No está disponible tu búsqueda 😔
                </li>
              </ul>
            </nav>
          </section>
        </section>
      </div>
      <section class="overflow-hidden relative">
        <div class="absolute blob left-0 top-0"></div>
        <section class="relative z-10">
          <Picture
            src="/img/estelibuses-horarios-de-esteli.png"
            alt="Estelí Buses: Horarios de las Terminales de Buses de Estelí"
            attributes={{
              link: {
                fetchpriority: 'highest'
              }
            }}
            preload="avif"
            loading="eager"
            width={752}
          />
        </section>
      </section>
    </section>
  </div>
  <div class="wave"></div>
</header>

<style>
  .blob {
    background: linear-gradient(
      180deg,
      rgba(255, 210, 168, 1) 0%,
      rgba(255, 231, 208, 1) 100%
    );
    height: 60%;
    width: 60%;
    border-radius: 30% 50% 20% 40%;
    animation: transformBlob 12s ease-in-out infinite both alternate,
      translateBlob 45s ease-in-out infinite both;
    opacity: 0.7;
  }

  @keyframes transformBlob {
    0%,
    100% {
      border-radius: 33% 67% 70% 30% / 30% 30% 70% 70%;
    }
    20% {
      border-radius: 37% 63% 51% 49% / 37% 65% 35% 63%;
    }
    40% {
      border-radius: 36% 64% 64% 36% / 64% 48% 52% 36%;
    }
    60% {
      border-radius: 37% 63% 51% 49% / 30% 30% 70% 70%;
    }
    80% {
      border-radius: 40% 60% 42% 58% / 41% 51% 49% 59%;
    }
  }

  @keyframes translateBlob {
    0%,
    100% {
      transform: none;
    }
    50% {
      transform: translate(50%, 20%) rotateY(10deg) scale(1.2);
    }
  }
</style>

<script>
  const $ = (el) => document.getElementById(el)
  const $$ = (el) => document.querySelectorAll(el)

  const mainSearch = $('main-search')
  const citiesSearch = $('cities-search') as HTMLInputElement

  const containerCities = $('container-cities')
  const cities = $$('.cities')
  const citiesName = $$('.city-name-search')

  const unknownCity = $('unknown-city')

  mainSearch.addEventListener('input', (e) => {
    if ((e.target as HTMLInputElement).id === 'cities-search') {
      containerCities.classList.replace('opacity-0', 'opacity-100')
      containerCities.classList.replace('translate-y-full', 'translate-y-0')
      containerCities.classList.replace(
        'pointer-events-none',
        'pointer-events-auto'
      )

      /*
       * Sanitize user input.
       * - Normalize text using Canonical Decomposition (NFD).
       * - Replace Spanish letters that have accents (\u0300-\u036f) with a
       * empty value, due NFD sanitization is used for such characters.
       * - Replace whitespaces with middle dash.
       */

      const sanitizeInput = citiesSearch.value
        .toLowerCase()
        .normalize('NFD')
        .replace(/[\u0300-\u036f]/g, '')
        .replace(/\s/g, '-')

      for (let i = 0; i < citiesName.length; i++) {
        const name = citiesName[i].dataset.cityname

        if (name.indexOf(sanitizeInput) > -1) {
          cities[i].classList.remove('hidden')
        } else {
          cities[i].classList.add('hidden')
        }
      }

      if ($$('.cities.hidden').length === cities.length) {
        unknownCity.classList.remove('hidden')
      } else {
        unknownCity.classList.add('hidden')
      }

      if (citiesSearch.value === '') {
        containerCities.classList.replace('opacity-100', 'opacity-0')
        containerCities.classList.replace('translate-y-0', 'translate-y-full')
        containerCities.classList.replace(
          'pointer-events-auto',
          'pointer-events-none'
        )
      }
    }
  })

  mainSearch.addEventListener('submit', (e) => e.preventDefault())

  const bottomBar = $('bottom-bar')
  const isMobile = navigator.userAgent.match(/Android|iPhone|iPad|iPod/i)

  /**
   * Hide BottomBar when the virtual keyboard is open using the resize window
   * event to detect it.
   */

  const initialSize = window.innerHeight

  if (isMobile) {
    window.addEventListener('resize', () => {
      const resizeHeight = window.innerHeight

      const percent = initialSize / resizeHeight

      if (percent > 1.35) {
        bottomBar.classList.remove('sticky')
      } else {
        bottomBar.classList.add('sticky')
      }
    })
  }
</script>
