header#mainPage(class="wave")
  div(class="container mx-auto px-4")
    include ../components/navbar

    section(
      class="flex flex-col justify-center items-center pt-18 pb-26 xs:pb-36 lg:pt-28 lg:pb-34 xl:pb-44 2xl:pb-54 text-center"
    )
      h1(
        class="text-4xl sm:text-5xl font-bold mb-8 max-w-screen-lg text-white text-shadow-sm z-2"
      ) Horarios de las terminales de buses de la ciudad de Estelí
      p(
        class="text-base sm:text-lg max-w-screen-lg text-white text-shadow-sm z-2 font-semibold"
      ) Conoce todos los horarios de la terminal norte y de la terminal sur de Estelí, para que puedas planear con exactitud la hora de tu próximo viaje.
