include ../utils/cardCity

article(class="py-12 sm:py-16 md:py-20 xl:py-28")
  div(class="container mx-auto px-4")
    section(class="space-y-6 mb-10 lg:mb-16 lg:text-center")
      h2(class="text-3xl sm:text-4xl font-bold text-center") Horarios de la terminal norte
      p(class="mx-auto mt-5 text-base text-center sm:text-lg md:max-w-5xl lg:max-w-6xl") Elige la ciudad de tu destino para ver los horarios.
    article(
      class="flex flex-col gap-y-14 items-center lg:grid lg:grid-cols-2 xl:grid-cols-3 lg:gap-22"
    )
      +cardCity('Jinotega', true)
      +cardCity('Somoto', true)
      +cardCity('Ocotal', true)
      +cardCity('Yalí', true)
      +cardCity('Quilalí', true)
      +cardCity('San Juan de Limay', true)
    section(class="text-center mt-20")
      a(
        class="rounded font-semibold space-x-2.5 py-2.5 px-5 transition-colors inline-flex items-center any-hover:bg-orange-500 active:outline-none active:ring-4 active:ring-orange-400 active:ring-opacity-75 bg-orange-400 text-white shadow-lg shadow-orange-500/30 any-hover:shadow-orange-600/30 active:shadow-orange-600/30"
        href="terminal-norte-esteli"
      )
        span Mira todos los destinos
        span
          svg(class="fill-current" width="26" height="26")
            path(d="M16 11H4v2h12v3l4-4-4-4z")/
