---
import testimonials from '@data/testimonials.json'

/**
 * Random sort testimonials on every build
 * */
const randomSortTestimonials = testimonials.sort(() => 0.5 - Math.random())

const testimonialsLength = testimonials.length
---

<article class="bg-[#FFFDF9] py-10 dark:bg-[#2D231B] sm:py-12">
  <div class="container mx-auto px-4">
    <section class="mb-10 space-y-6 lg:mb-16 lg:text-center">
      <h2 class="text-center">Los Estelianos confían en Estelí Buses</h2>
    </section>
    <article
      class="users-comments scroll-snap-slider mx-auto grid snap-x snap-mandatory items-start gap-4 overflow-x-scroll scroll-smooth px-4 pb-4 sm:gap-8"
    >
      {
        randomSortTestimonials.map((testimonial) => (
          <section class="comments scroll-snap-slide flex h-full snap-center snap-always flex-col items-center justify-start gap-y-2 rounded bg-white p-3 text-center shadow dark:bg-[#30251b]/50">
            <div>
              <section
                class={`mx-auto h-max w-max rounded-full p-3 ${testimonial.bg_circle}`}
              >
                <svg
                  class={`fill-current ${testimonial.color_icon}`}
                  viewBox="0 0 24 24"
                  width="45"
                  height="45"
                >
                  <path
                    d={
                      testimonial.icon === 'woman'
                        ? 'M13.75 13a1.25 1.25 0 1 1 2.5 0 1.25 1.25 0 0 1-2.5 0M22 12v10H2V12C2 6.5 6.5 2 12 2s10 4.5 10 10M4 12a8.01 8.01 0 0 0 16 0c0-.79-.12-1.55-.33-2.26A9.97 9.97 0 0 1 9.26 5.77a10.06 10.06 0 0 1-5.21 5.37C4 11.42 4 11.71 4 12m5 2.25a1.25 1.25 0 1 0 0-2.5 1.25 1.25 0 0 0 0 2.5Z'
                        : 'M9 11.75A1.25 1.25 0 0 0 7.75 13 1.25 1.25 0 0 0 9 14.25 1.25 1.25 0 0 0 10.25 13 1.25 1.25 0 0 0 9 11.75m6 0A1.25 1.25 0 0 0 13.75 13 1.25 1.25 0 0 0 15 14.25 1.25 1.25 0 0 0 16.25 13 1.25 1.25 0 0 0 15 11.75M12 2A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2m0 18c-4.41 0-8-3.59-8-8 0-.29 0-.58.05-.86a10.06 10.06 0 0 0 5.21-5.37 9.97 9.97 0 0 0 10.41 3.97A7.97 7.97 0 0 1 12 20Z'
                    }
                  />
                </svg>
              </section>
            </div>
            <div class="space-y-2">
              <p class="font-semibold">{testimonial.name}</p>
              <p
                class:list={[
                  '!text-base',
                  { 'large-comments': testimonial.large }
                ]}
              >
                {testimonial.comment}
              </p>
              {testimonial.large && (
                <input
                  class="expand-comments block cursor-pointer appearance-none whitespace-nowrap pl-2 text-left text-orange-500 active:text-orange-600 any-hover:text-orange-600"
                  type="checkbox"
                  aria-label="Leer más"
                />
              )}
            </div>
          </section>
        ))
      }
    </article>
    <section class="mt-4">
      <p class="text-right !text-sm">
        ¿Quiéres aparecer acá?
        <a
          href="https://forms.gle/sYKj4pqKRaC5s4LL7"
          rel="nofollow"
          target="_blank"
          >Llena este formulario
          <svg
            class="-mt-[0.125rem] inline fill-current"
            viewBox="0 0 24 24"
            width="12"
            height="12"
          >
            <path
              d="M14 3v2h3.6l-9.8 9.8 1.4 1.4L19 6.4V10h2V3m-2 16H5V5h7V3H5a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7h-2v7Z"
            ></path>
          </svg>
        </a>.
      </p>
    </section>
  </div>
</article>

<style define:vars={{ items: testimonialsLength }}>
  .users-comments {
    grid-template-columns: repeat(var(--items), 16rem);
  }

  .large-comments {
    max-height: 96px;
    overflow: hidden;
    position: relative;
    transition: max-height 300ms ease;
  }

  .large-comments:has(+ .expand-comments:not(:checked))::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background: linear-gradient(to bottom, transparent, white);
  }

  html.dark .large-comments:has(+ .expand-comments:not(:checked))::before {
    background: linear-gradient(to bottom, transparent, #2d231b);
  }

  .large-comments:has(+ .expand-comments:checked) {
    max-height: 500px;
  }

  .expand-comments::before {
    content: 'Leer más';
  }

  .expand-comments:checked::before {
    content: 'Leer menos';
  }

  @media (any-pointer: coarse) {
    .users-comments {
      scrollbar-width: none;
    }

    .users-comments::-webkit-scrollbar {
      display: none;
    }
  }

  @media (min-width: 768px) {
    .users-comments {
      grid-template-columns: repeat(var(--items), 20rem);
    }

    .large-comments {
      max-height: 72px;
    }
  }

  .users-comments::-webkit-scrollbar {
    border-radius: 4px;
  }
</style>

<script>
  import { ScrollSnapSlider } from '@scripts/ScrollSnapSlider.js'
  import { ScrollSnapAutoplay } from '@scripts/ScrollSnapAutoplay.js'
  import { ScrollSnapDraggable } from '@scripts/ScrollSnapDraggable.js'

  const sliderElement = document.querySelector('.scroll-snap-slider')
  new ScrollSnapSlider(sliderElement, true, [
    new ScrollSnapAutoplay(4000),
    new ScrollSnapDraggable()
  ])
</script>
