<footer class="bg-[#1c1611] text-white text-center">
  <div class="container px-4 pt-28 pb-8 mx-auto space-y-14">
    <div class="flex flex-col gap-10 xl:flex-row xl:gap-0">
      <article class="lg:w-2/6">
        <section class="mb-2">
          <a class="inline-block" href="/">
            <picture>
              <source
                type="image/avif"
                data-srcset="/img/estelibuses-logo.avif"
              />
              <source
                type="image/webp"
                data-srcset="/img/estelibuses-logo.webp"
              /><img
                class="object-cover object-center mx-auto"
                alt="Estelí Buses"
                decoding="async"
                fetchpriority="low"
                srcset="/img/estelibuses-logo.webp"
                width="150"
                height="60"
                data-srcset="/img/estelibuses-logo.png"
              />
            </picture>
          </a>
        </section>
        <section class="max-w-sm my-7 xl:max-w-xs 2xl:max-w-sm mx-auto">
          <h3 class="text-xl font-semibold mb-4">
            ¡Sigue a Estelí Buses en Facebook!
          </h3>
          <p class="!text-base">
            Dale Me Gusta a la página en Facebook y compártela con tus amigos.
          </p>
          <section class="mt-4">
            <a
              class="any-hover:text-orange-200 active:text-orange-200 transition-colors flex gap-2 items-center justify-center group"
              id="facebook"
              href="https://www.facebook.com/estelibuses"
              target="_blank"
            >
              <svg
                class="fill-current"
                viewBox="0 0 24 24"
                width="36"
                height="36"
              >
                <path
                  d="M12 2.04a10.03 10.03 0 0 0-1.56 19.92v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89 1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02Z"
                ></path>
              </svg>
            </a>
          </section>
        </section>
        <section
          class="flex flex-col items-center justify-center xs:flex-row gap-4"
        >
          <a
            class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
            href="/acerca-de-estelibuses">Acerca de Estelí Buses</a
          ><a
            class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
            href="/politica-de-privacidad">Política de privacidad</a
          >
        </section>
      </article>
      <div class="lg:flex-1">
        <article class="grid gap-10 md:grid-cols-3">
          <section>
            <h3 class="text-xl font-semibold mb-7">
              <a
                class="any-hover:text-orange-200 active:text-orange-200"
                href="/terminal-norte-esteli">Horarios Terminal Norte</a
              >
            </h3>
            <nav>
              <ul class="space-y-3.5">
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-norte-esteli/horarios-esteli-managua"
                    >Horarios hacia Managua</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-norte-esteli/horarios-esteli-ocotal"
                    >Horarios hacia Ocotal</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-norte-esteli/horarios-esteli-somoto"
                    >Horarios hacia Somoto</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-norte-esteli/horarios-esteli-jinotega"
                    >Horarios hacia Jinotega</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-norte-esteli/horarios-esteli-san-juan-de-limay"
                    >Horarios hacia San Juan de Limay</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-norte-esteli/horarios-esteli-pueblo-nuevo"
                    >Horarios hacia Pueblo Nuevo</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-norte-esteli">Todos los horarios</a
                  >
                </li>
              </ul>
            </nav>
          </section>
          <section>
            <h3 class="text-xl font-semibold mb-7">
              <a
                class="any-hover:text-orange-200 active:text-orange-200"
                href="/terminal-sur-esteli">Horarios Terminal Sur</a
              >
            </h3>
            <nav>
              <ul class="space-y-3.5">
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-sur-esteli/horarios-esteli-managua"
                    >Horarios hacia Managua</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-sur-esteli/horarios-esteli-matagalpa"
                    >Horarios hacia Matagalpa</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-sur-esteli/horarios-esteli-leon"
                    >Horarios hacia León</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-sur-esteli/horarios-esteli-la-trinidad"
                    >Horarios hacia La Trinidad</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-sur-esteli/horarios-esteli-san-nicolas"
                    >Horarios hacia San Nicolás</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-sur-esteli/horarios-esteli-tisey-la-estanzuela"
                    >Horarios hacia Tisey - La Estanzuela</a
                  >
                </li>
                <li>
                  <a
                    class="any-hover:text-orange-200 any-hover:underline active:underline active:text-orange-200"
                    href="/terminal-sur-esteli">Todos los horarios</a
                  >
                </li>
              </ul>
            </nav>
          </section>
          <section class="order-first md:order-none">
            <h3 class="text-xl font-semibold mb-7">
              <a
                class="any-hover:text-orange-200 active:text-orange-200"
                href="/terminal-sur-esteli">¡Comparte a Estelí Buses!</a
              >
            </h3>
            <p class="!text-base">
              Comparte la plataforma en tus redes sociales y ayuda a tus amigos
              a conocer de manera eficiente, todos los horarios de las
              terminales de buses de Estelí.
            </p>
            <section
              class="flex flex-wrap justify-center items-center gap-8 mt-7"
            >
              <a
                class="any-hover:text-orange-200 active:text-orange-200 transition-colors"
                id="whatsapp"
                href="https://api.whatsapp.com/send?text=%C2%A1Conoce%20todos%20los%20horarios%20de%20las%20terminales%20de%20buses%20de%20la%20ciudad%20de%20Estel%C3%AD!%0ahttps://estelibuses.web.app/?utm_source=whatsapp&utm_medium=webapp&utm_campaign=social_share&utm_content=footer"
                target="_blank"
              >
                <svg
                  class="fill-current"
                  viewBox="0 0 24 24"
                  width="33"
                  height="33"
                >
                  <path
                    d="M12 2a10 10 0 0 0-8.6 14.9L2 22l5.3-1.4A10 10 0 1 0 12 2m0 1.7A8.2 8.2 0 1 1 7.9 19l-.2-.2-3.2.8.9-3-.2-.3a8.3 8.3 0 0 1 7-12.6M8.5 7.3a1 1 0 0 0-.6.3c-.3.3-.9.9-.9 2.1 0 1.2.9 2.4 1 2.6.1.1 1.8 2.6 4.3 3.7.5.3 1 .4 1.4.5.6.2 1 .2 1.5.1.5 0 1.5-.6 1.7-1.2.2-.5.2-1 .1-1.1l-.4-.3-1.7-.8c-.3-.1-.4-.1-.6.1l-.8 1c-.1.1-.3.2-.5 0-.3 0-1-.4-2-1.2a7.6 7.6 0 0 1-1.4-1.7c-.1-.3 0-.4.1-.5l.4-.5.3-.4v-.4l-.8-1.8c-.2-.5-.4-.5-.6-.5h-.5Z"
                  ></path>
                </svg>
              </a><a
                class="any-hover:text-orange-200 active:text-orange-200 transition-colors"
                id="telegram"
                href="https://telegram.me/share/url?url=%C2%A1Conoce%20todos%20los%20horarios%20de%20las%20terminales%20de%20buses%20de%20la%20ciudad%20de%20Estel%C3%AD!%0ahttps://estelibuses.web.app/?utm_source=telegram&utm_medium=webapp&utm_campaign=social_share&utm_content=footer"
                target="_blank"
              >
                <svg
                  class="fill-current"
                  viewBox="0 0 24 24"
                  width="30"
                  height="30"
                >
                  <path
                    clip-rule="evenodd"
                    d="M24 12a12 12 0 1 1-24 0 12 12 0 0 1 24 0ZM12.4 8.9a572 572 0 0 0-7.9 3.6c0 .4.5.5 1 .7l.3.1c.6.2 1.5.5 1.9.5.4 0 .8-.2 1.3-.5a124 124 0 0 1 5.3-3.3v.2c0 .2-1.8 1.8-2.7 2.7l-.5.5-.3.3c-.6.5-1 1 0 1.6a94.2 94.2 0 0 1 2.7 1.8l.4.3c.5.4 1 .7 1.5.6.3 0 .6-.3.8-1.2a142.2 142.2 0 0 0 1.3-9.1l-.1-.3a.8.8 0 0 0-.5-.2c-.4 0-1.1.3-4.5 1.7Z"
                    fill-rule="evenodd"></path>
                </svg>
              </a><a
                class="any-hover:text-orange-200 active:text-orange-200 transition-colors"
                id="facebook"
                href="https://www.facebook.com/sharer/sharer.php?u=https://estelibuses.web.app/?utm_source=facebook&utm_medium=webapp&utm_campaign=social_share&utm_content=footer"
                target="_blank"
              >
                <svg
                  class="fill-current"
                  viewBox="0 0 24 24"
                  width="36"
                  height="36"
                >
                  <path
                    d="M12 2.04a10.03 10.03 0 0 0-1.56 19.92v-7H7.9v-2.9h2.54V9.85c0-2.51 1.49-3.89 3.78-3.89 1.09 0 2.23.19 2.23.19v2.47h-1.26c-1.24 0-1.63.77-1.63 1.56v1.88h2.78l-.45 2.9h-2.33v7a10 10 0 0 0 8.44-9.9c0-5.53-4.5-10.02-10-10.02Z"
                  ></path>
                </svg>
              </a><a
                class="any-hover:text-orange-200 active:text-orange-200 transition-colors"
                id="twitter"
                href="https://twitter.com/intent/tweet?url=https://estelibuses.web.app/?utm_source=twitter&utm_medium=webapp&utm_campaign=social_share&utm_content=footer&text=%C2%A1Conoce%20todos%20los%20horarios%20de%20las%20terminales%20de%20buses%20de%20la%20ciudad%20de%20Estel%C3%AD!"
                target="_blank"
              >
                <svg
                  class="fill-current"
                  viewBox="0 0 24 24"
                  width="33"
                  height="33"
                >
                  <path
                    d="M22.5 6c-.8.3-1.6.6-2.5.7.9-.5 1.6-1.4 1.9-2.4-.8.5-1.8.9-2.7 1a4.3 4.3 0 0 0-7.3 4C8.2 9 5 7.3 3 4.8a4.2 4.2 0 0 0 1.3 5.7c-.7 0-1.3-.2-2-.5 0 2.1 1.6 3.8 3.5 4.2a4.2 4.2 0 0 1-2 .1c.6 1.7 2.2 3 4 3A8.5 8.5 0 0 1 1.6 19c2 1.2 4.2 1.9 6.6 1.9 7.9 0 12.2-6.5 12.2-12.2v-.6C21.2 7.6 22 7 22.5 6Z"
                  ></path>
                </svg>
              </a>
              <button
                class="any-hover:text-orange-200 active:text-orange-200 transition-colors hidden"
                id="share"
                type="button"
              >
                <svg
                  class="fill-current"
                  viewBox="0 0 24 24"
                  width="33"
                  height="33"
                >
                  <path
                    d="M18 16a3 3 0 0 0-2 .9l-7-4.2v-1.4l7-4.1a3 3 0 0 0 2 .8 3 3 0 0 0 3-3 3 3 0 0 0-3-3 3 3 0 0 0-3 3v.7L8 9.8A3 3 0 0 0 6 9a3 3 0 0 0-3 3 3 3 0 0 0 3 3 3 3 0 0 0 2-.8l7.2 4.1-.1.7a3 3 0 0 0 5.8 0 3 3 0 0 0-2.9-3Z"
                  ></path>
                </svg>
              </button>
            </section>
          </section>
        </article>
      </div>
    </div>
    <hr class="h-px mt-12 mb-8 bg-[#2D231B] border-none" />
    <article
      class="flex flex-col lg:flex-row lg:gap-0 lg:justify-between gap-4 items-center"
    >
      <p class="!text-base">Hecho con ❤ en Estelí para todos los Estelianos.</p>
      <div class="flex flex-col lg:flex-row gap-4 lg:gap-2 lg:items-center">
        <p class="!text-base">Estelí Buses 2022.</p>
        <section class="flex items-center gap-2">
          <p class="!text-base">Desarrollado por</p><a
            href="https://felixicaza.com/?utm_source=estelibuses&utm_medium=website&utm_campaign=estelibuses_users&utm_content=footer"
            target="_blank"
            ><img
              src="/img/logo.svg"
              alt="Félix Icaza - Desarrollador Web en Nicaragua"
              decoding="async"
              fetchpriority="low"
              width="120"
            />
          </a>
        </section>
      </div>
    </article>
  </div>
</footer>
