button#install(
  class="rounded-full font-semibold space-x-2.5 py-2.5 px-5 transition-colors inline-flex items-center any-hover:bg-orange-600 active:outline-none active:ring-4 active:ring-orange-500 active:ring-opacity-75 bg-orange-500 text-white shadow-lg shadow-orange-600/30 any-hover:shadow-orange-700/30 active:shadow-orange-700/30 fixed bottom-0 left-0 z-20 transition-transform transform translate-y-18 translate-x-4 opacity-0"
)
  span(class="mobile !ml-0")
    svg(class="fill-current" viewBox="0 0 24 24" width="20" height="20")
      path(
        d="m18 14 5-5-1.4-1.4-2.6 2.6V3h-2v7.2l-2.6-2.6L13 9l5 5m1 2v5a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V3c0-1.1.9-2 2-2h7v4H7v14h10v-3h2Z"
      )/
  span(class="hidden desktop !ml-0")
    svg(class="fill-current" viewBox="0 0 24 24" width="20" height="20")
      path(
        d="m17 14 5-5-1.4-1.4-2.6 2.6V3h-2v7.2l-2.6-2.6L12 9l5 5m6 0v2a2 2 0 0 1-2 2h-7v2h2v2H8v-2h2v-2H3a2 2 0 0 1-2-2V4c0-1.1.9-2 2-2h9v2H3v12h18v-2h2Z"
      )/
  span Instalar
