---
import { Picture } from 'astro-imagetools/components'
---

<section
  id="modal-bus-pic"
  class={`
    dark:bg-hex-180f06
    pointer-events-none fixed top-1/2 left-1/2 z-20 h-[85vh] w-full max-w-sm -translate-x-1/2
    -translate-y-1/2 scale-0 transform rounded bg-orange-300 px-4 py-6 opacity-0 shadow-md
    transition-all
    sm:max-w-md
    dark:text-white
  `}
>
  <section class="hide-scroll-modal h-full overflow-scroll">
    <h3 class="text-center text-xl font-bold">
      Recomendaciones para tomar la foto del transporte.
    </h3>
    <ol class="mt-4 ml-6 list-decimal space-y-2">
      <li>
        <strong>IMPORTANTE:&nbsp;</strong>
        Asegúrate que la foto que vas a tomar
        sea precisamente del transporte en cuestión. Ya que por defecto la
        imágen será guardada con el nombre de la ciudad y el número del horario
        que hayas elegido.
      </li>
      <li>Coloca tu celular en modo horizontal.</li>
      <li>
        La foto debe ser de la parte frontal del transporte y enfocando un poco
        la parte lateral (Ver ejemplo).
      </li>
      <li>Trata de no tomar la foto muy cerca o lejos del transporte.</li>
      <li>
        No te preocupes por hacer zoom o por la calidad de la imágen, ya que por
        defecto está preparado para obtener la mejor configuración de tu cámara.
      </li>
      <li>
        Si crees que no haya quedado bien la foto, puedes tomarla nuevamente.
      </li>
      <li>No puedes enviar fotos sin conexión a internet.</li>
    </ol>
    <p class="mt-4 text-lg font-semibold">¡Muchas gracias por tu ayuda! ❤</p>
    <section class="my-4">
      <p class="mb-2">Ejemplo de la foto de un tansporte.</p>
      <Picture
        src="/src/img/san-juan-de-limay/transporte-el-fugitivo.jpg"
        alt="Foto del transporte El Fugitivo - san Juan de Limay"
        attributes={{
          img: {
            fetchpriority: 'low'
          }
        }}
        loading="lazy"
        aspect={1.452513966}
      />
    </section>
    <button
      class={`
        recommendation-pic w-full rounded bg-orange-400 px-5 py-2.5 font-semibold text-white
        transition-colors
        active:bg-orange-500 active:outline-none
      `}
    >
      Aceptar
    </button>
  </section>
</section>

<style>
  .hide-scroll-modal {
    scrollbar-width: none;
  }
  .hide-scroll-modal::-webkit-scrollbar {
    display: none;
  }
</style>
