<nav class="py-2 flex justify-between items-center">
  <a class="inline-block" href="/">
    <picture>
      <source
        type="image/avif"
        fetchpriority="highest"
        srcset="/img/estelibuses-logo.avif"
      />
      <source
        type="image/webp"
        fetchpriority="highest"
        srcset="/img/estelibuses-logo.webp"
      /><img
        class="object-cover object-center"
        alt="Estelí Buses"
        decoding="async"
        fetchpriority="highest"
        srcset="/img/estelibuses-logo.webp"
        width="150"
        height="60"
        srcset="/img/estelibuses-logo.png"
      />
    </picture>
  </a>
  <section class="hidden xl:block">
    <ul class="flex items-center space-x-4 font-medium justify-center gap-4">
      <li>
        <a
          class:list={[
            'px-6 inline-flex items-center justify-center py-2.5 space-x-1',
            {
              /**
               * Use includes() method to get all descending paths
               */
              'text-emerald-500': Astro.url.pathname.includes(
                'terminal-norte-esteli'
              )
            },
            {
              'any-hover:text-emerald-500 transition-colors':
                !Astro.url.pathname.includes('terminal-norte-esteli')
            }
          ]}
          href="/terminal-norte-esteli"
        >
          <span>
            <svg
              class="fill-current"
              viewBox="0 0 24 24"
              width="22"
              height="22"
            >
              <path
                d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
              ></path>
            </svg>
          </span>
          <span>Terminal norte</span>
        </a>
      </li>
      <li>
        <a
          class:list={[
            'px-6 inline-flex items-center justify-center py-2.5 space-x-1',
            {
              /**
               * Use includes() method to get all descending paths
               */
              'text-amber-500': Astro.url.pathname.includes(
                'terminal-sur-esteli'
              )
            },
            {
              'any-hover:text-amber-500 transition-colors':
                !Astro.url.pathname.includes('terminal-sur-esteli')
            }
          ]}
          href="/terminal-sur-esteli"
        >
          <span>
            <svg
              class="fill-current"
              viewBox="0 0 24 24"
              width="22"
              height="22"
            >
              <path
                d="M18 11H6V6h12m-1.5 11a1.5 1.5 0 0 1-1.5-1.5 1.5 1.5 0 0 1 1.5-1.5 1.5 1.5 0 0 1 1.5 1.5 1.5 1.5 0 0 1-1.5 1.5m-9 0A1.5 1.5 0 0 1 6 15.5 1.5 1.5 0 0 1 7.5 14 1.5 1.5 0 0 1 9 15.5 1.5 1.5 0 0 1 7.5 17M4 16a3 3 0 0 0 1 2.2V20a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1h8v1a1 1 0 0 0 1 1h1a1 1 0 0 0 1-1v-1.8a3 3 0 0 0 1-2.2V6c0-3.5-3.6-4-8-4s-8 .5-8 4v10Z"
              ></path>
            </svg>
          </span>
          <span>Terminal sur</span>
        </a>
      </li>
      <li>
        <a
          class:list={[
            'px-6 inline-flex items-center justify-center py-2.5 space-x-1',
            {
              'text-orange-500': Astro.url.pathname === '/acerca-de-estelibuses'
            },
            {
              'any-hover:text-orange-500 transition-colors':
                Astro.url.pathname !== '/acerca-de-estelibuses'
            }
          ]}
          href="/acerca-de-estelibuses"
        >
          <span>
            <svg
              class="fill-current"
              viewBox="0 0 24 24"
              width="22"
              height="22"
            >
              <path
                d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"
              ></path>
            </svg>
          </span>
          <span>Acerca</span>
        </a>
      </li>
      <li>
        <a
          class:list={[
            'px-6 inline-flex items-center justify-center py-2.5 space-x-1',
            {
              'text-orange-500': Astro.url.pathname === '/contacto'
            },
            {
              'any-hover:text-orange-500 transition-colors':
                Astro.url.pathname !== '/contacto'
            }
          ]}
          href="/contacto"
        >
          <span>
            <svg
              class="fill-current"
              viewBox="0 0 24 24"
              width="22"
              height="22"
            >
              <path
                d="M20 20H7a2 2 0 0 1-2-2V9L2.2 5.5A1 1 0 0 1 2 5a1 1 0 0 1 1-1h17a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2M8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-10m0 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-10m0 4a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h5a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-5Z"
              ></path>
            </svg>
          </span>
          <span>Contacto</span>
        </a>
      </li>
    </ul>
  </section>
  <section>
    <button class="text-orange-500" id="mobile-nav" type="button">
      <svg class="fill-current" viewBox="0 0 24 24" width="33" height="33">
        <path d="M3 6h18v2H3V6m0 5h18v2H3v-2m0 5h18v2H3v-2Z"></path>
      </svg>
    </button>
  </section>
</nav>
