section#container-notification(
  class="fixed top-0 right-0 bg-orange-500 text-white max-w-68 sm:max-w-sm p-4 rounded shadow transform -translate-y-full -translate-x-3 z-20 flex items-start transition-transform transition-opacity opacity-0"
)
  div
    h3(class="font-bold mb-2 text-2xl") ¡Por favor llena esta encuesta!
    p(class="my-2 font-semibold") Tu opinión como usuario es importante para mi, por favor llena esta
      a(class="underline" href="https://forms.gle/wS9DvGPvGZDYq1BP8" target="_blank") Encuesta de Estelí Buses (clic aquí)
      | .
  button#notification-close(
    class="transition-colors font-bold text-4xl any-hover:text-orange-900 active:text-orange-900"
  ) &times;
