<div
  class="notification fixed top-0 left-1/2 z-20 mx-auto w-full max-w-2xl -translate-y-full -translate-x-1/2 px-4 opacity-0 transition-all"
>
  <section
    class="rounded bg-orange-500 py-2.5 px-5 font-semibold text-white shadow-md"
  >
    <svg class="float-left mr-2 fill-current" viewBox="0 0 24 24" width="48">
      <path
        d="M13 9h-2V7h2m0 10h-2v-6h2m-1-9A10 10 0 0 0 2 12a10 10 0 0 0 10 10 10 10 0 0 0 10-10A10 10 0 0 0 12 2Z"
      ></path>
    </svg>
    <p>
      Debido a las festividades de fin de año, este 1 de Enero, no habrá
      servicio de transporte por parte de la Terminal Norte y Terminal Sur.
      ¡Feliz y Próspero 2023!
    </p>
  </section>
</div>

<script>
  window.addEventListener('load', () => {
    const notification = document.querySelector('.notification')

    notification.classList.replace('-translate-y-full', 'translate-y-12')
    notification.classList.replace('opacity-0', 'opacity-100')

    setTimeout(() => {
      notification.classList.replace('translate-y-12', '-translate-y-full')
      notification.classList.replace('opacity-100', 'opacity-0')
    }, 7500)
  })
</script>
