section#container-notification(
  class="fixed top-0 right-0 bg-orange-500 text-white max-w-68 sm:max-w-sm p-4 rounded shadow transform -translate-y-full -translate-x-3 z-20 flex items-start transition-transform transition-opacity opacity-0"
)
  div
    h3(class="font-bold mb-2 text-2xl") ¡Estelí Buses ahora disponible sin internet!
    p(class="my-2 font-semibold") Conoce todos los detalles de esta nueva funcionalidad añadida a Estelí Buses,&nbsp;
      a(
        class="underline"
        href="/blog/ahora-puedes-acceder-a-esteli-buses-sin-conexion-a-internet"
      ) Mira la publicación
      | .
  button#notification-close(
    class="transition-colors font-bold text-4xl any-hover:text-orange-900 active:text-orange-900"
  ) &times;
