section#container-notification(
  class="fixed top-0 right-0 bg-orange-500 text-white max-w-68 sm:max-w-sm p-4 rounded shadow transform -translate-y-full -translate-x-3 z-20 flex items-start transition-transform transition-opacity opacity-0"
)
  div
    h3(class="font-bold mb-2 text-2xl") ¡Aviso!
    p(class="my-2 font-semibold") Si eres dueño de un negocio, puedes empezar a publicitarlo ahora mismo, ¡Contáctame!
    ul(class="list-disc space-y-3 px-6 font-semibold text-sm")
      li
        a(class="underline" href="https://wa.me/50557279567") Envíame un mensaje a WhatsApp
        | .
      li
        a(class="underline" href="https://t.me/felixicaza") Envíame un mensaje a Telegram
        | .
  button#notification-close(
    class="transition-colors font-bold text-4xl any-hover:text-orange-900 active:text-orange-900"
  ) &times;
