section#snackbar(
  class="fixed z-10 bottom-0 transform transition opacity-0 translate-y-full w-full select-none pointer-events-none"
)
  article(
    class="mx-auto relative bg-green-500 text-white py-4 px-2 rounded shadow max-w-full w-80 xs:w-96 text-center"
  )
    h3(class="font-bold text-lg mb-2")
    p
