include cardCity

article(class="text-center py-16 md:py-20 xl:py-28 bg-light-50 dark:bg-hex-151D2D")
  div(class="container px-4 mx-auto")
    section(class="space-y-6 mb-10 lg:mb-16 lg:text-center")
      h2(class="text-3xl sm:text-4xl font-bold") Conoce los horarios de otros destinos
      p(class="mx-auto mt-5 text-base text-center sm:text-lg md:max-w-5xl lg:max-w-6xl") Otros municipios a los cuales puedes viajar tomando los buses de la terminal sur.

    article(class="flex flex-wrap justify-center gap-20 lg:gap-16")
      +cardCity('El Naranjo', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADnSURBVAXBvUrDUACA0S/3XqmQJpY0WrGlNdarDoKzk6A+gJOrIDj4Fj6Kqw+h7iIqOAhKC4UiKa3aGJrU/HqOcXJ2WipZpdHcxt49xnA0n5GkyBIocgzAVgWy021eDfsDfP+d/sMtrmmy113DWRRYIqVhfOMEb6gknlIaKb+TGXlZ4enumsf7G7TW/MVjgp8P3MoKSomEqpSMvkKEiOhNxqy3W2zYO5iuS28+IwkD1OvziKWazdHhPluepuN5WLaFzCLyQrDZquMPXlAX55dob5Vl1yFKUuJ4DqHPNFuAokSUNertA/4BSG9U0Mr/+EAAAAAASUVORK5CYII=')

      +cardCity('Santa Cruz', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADJSURBVAXBW06DQBiA0e+HmckUoVXE+ti4B1dg4gLchVvxzd3pS000RkOMJXZaCswFz5HHp+d5XTdURYlPMzFF+pPjs23ZuyPNecl1XaPe3l/4bg1h1kxBCGFi7PcoCahccB1stxE1Hh0Hl8jzHKuFbucwWvAp4X0kEyHEGSV5D35CEtSrK3yYUQJZJsSgsEbwKZCJjIQw0bnAZnPLcDAYfUZhF1zWBVW55Gc3otbLFc3NAp1brP7l4f6OanmBNpbh9MHX3yvDXPIPjPRZ97pZnBoAAAAASUVORK5CYII=')

      +cardCity('Empalme San Nicolás', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADfSURBVAXBT0+CYADA4R+8LygDBPk32/QQm6tDY136FJ36Rn6Rrl37Cl47d6gNyXSjETaVGclCredR7h8e/7rOgGgYcLA6CE2wXm04nhpMx6f8eOdpOkXuvlJ8vSJ/npGWW8YXMZbl8foyIx6OiCOX+PYOYQ/CiSp1fttvFLUhXyypqxxN7tGPDe1+TV19IkJ/NMmygsAxuRqf45k2nu3Sk4J+36EoVgzPfKShC5LkEtvx2e40oItn6RjGiJ4jCUOP+WKOTK5vSN9KTllNe1giNIEpf9jUHRQVXFsnCjT+AZDrSanU9FudAAAAAElFTkSuQmCC')

      +cardCity('La Concepción', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADTSURBVAXBPU/CQACA4feuRz+gLTZiosZFFuMmC7/T3f/h7CoJE4lLSdTERGyLBAhnr+31fB7x+PTswijm/mGGHw5prKPvHWO/J0Djew6HQq1XLwTxFXmeM5/dcXl9Q9s5Vp9vLF8X2EYTJyNUWW2YuI6/tma52GCMwdSagWcJFASxR1v/oiZZwnk64qc8sCvWOAlCOjwRE4YZWu/43paoovqgNUcaW5OlF2z3BWVVYUzN7XSKEBJch0plRHc68v5VUQ4PnI0jVOehVII87bG9ZGAF/2JOYcWVPRvWAAAAAElFTkSuQmCC')

      +cardCity('San Isidro', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADiSURBVAXBvUrDUACA0S/JLWnSEK3ESlXQKkWpuLi4KTjr4DP5DOLuXnwCxQcQikKXdBVrYxOan4be5DbxHO3y9rje2XcxN3uk589Umk0NGCqBImE1esKYvyFqBVmck2djvNN36FxTVzrl7At99Ejk+2SLEBF9S5JA0T/aJg9e8GzFRZGyMn/4kAHRb0jTAX29Loj+YrLplMnwlb7XQw7uUZ0blOaxTHNaTgPhNiwcz2HLNahUi/HwgUpLyRYSq5xjNgX+Z4A4O9nl8KBLd6NNXrqg2xSFJBYhy9Ti7mqPiT/jHx3kYmRHQK9vAAAAAElFTkSuQmCC')

      +cardCity('Sébaco', 'sur', 'data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAGCAYAAAD68A/GAAAAAklEQVR4AewaftIAAADYSURBVAXBQU6DQABA0Q8dSqFB0VHahS6sxEWP4AE8kVfwLj2BBzC6MG6NcePGtBYjSGmEgWEA37NW949DfBmj2xbXEaimwe5b5rOIv6pmm+YUlcJ2TYVWJa/PD2TJJ80+R5sO3RrCwEOGAXQasbq75fz6BqaQJm8UmWa9y/DCiI/3FyxXMJMxQi7nbJInjHJYuxrXP2QRLBj3ijC+wjYNha4RJ4MkLSuODiQjITBdyzbfMPUjLGvgbHKMLUqEPAWxc6irnPHEYzT26XrBT/qFamrsC5f97zf/r3VgSevqWPkAAAAASUVORK5CYII=')
