---
import { Picture } from 'astro-imagetools/components'
---

<section class="py-12 sm:py-16 md:py-20 xl:py-28">
  <div class="container mx-auto px-4">
    <section class="mt-12 grid gap-12 lg:grid-cols-2 lg:items-center lg:gap-14">
      <section>
        <Picture
          src="/src/img/estelibuses-offline.png"
          alt="Soporte Offline de Estelí Buses"
          attributes={{
            img: {
              fetchpriority: 'low'
            }
          }}
          loading="lazy"
        />
      </section>
      <section class="space-y-7 lg:sticky lg:top-8">
        <h2
          class="text-center text-3xl font-bold text-[#3b0d15] sm:text-4xl dark:text-orange-50"
        >
          ¿Te quedaste sin internet?
        </h2>
        <p class="mx-auto mt-5 text-center md:max-w-5xl lg:max-w-6xl">
          ¡No te preocupes! puedes seguir accediendo a Estelí Buses aún si te
          quedaste sin conexión a internet, para que puedas consultar sin ningún
          problema los horarios de salida de las terminales.
        </p>
        <p class="mx-auto mt-5 text-center md:max-w-5xl lg:max-w-6xl">
          No tienes que hacer nada, solamente ingresando a Estelí Buses todos
          los datos estarán disponible para ti para cuándo te quedes sin
          conexión.
        </p>
      </section>
    </section>
  </div>
</section>
