---
import Layout from '@layouts/Layout.astro'

import Navbar from '@components/Navbar.astro'

const { content } = Astro.props

const options = {
  title: content.title,
  meta_robots: content.meta_robots
}
---

<Layout {options}>
  <header class="container mx-auto px-4">
    <Navbar />
  </header>
  <main class="container mx-auto px-4">
    <section
      id="content"
      class="mx-auto max-w-6xl space-y-6 pb-[6.5rem] pt-[4.5rem] text-center xs:pb-36 lg:pb-[8.5rem] lg:pt-28 xl:pb-44 2xl:pb-[13.5rem]"
    >
      <slot />
    </section>
  </main>
</Layout>
