---
import { Schema } from 'astro-seo-schema'

import Favicons from '@components/Favicons.astro'
import SplashScreens from '@components/SplashScreens.astro'
import Footer from '@components/Footer.astro'
import BottomBar from '@components/BottomBar.astro'
import Aside from '@components/Aside.astro'
import ModalShare from '@components/ModalShare.astro'
import UpdatePWAButton from '@components/UpdatePWAButton.astro'
import PromptiOS from '@components/PromptiOS.astro'

import '@styles/tailwind.css'
import '@styles/flex-gap-polyfill.css'
import '@styles/safe-areas.css'

const { options } = Astro.props
---

<html dir="ltr" lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=2.0, viewport-fit=cover"
    />

    <title>{options.title}</title>

    <link crossorigin href="//www.googletagmanager.com/" rel="preconnect" />
    <link crossorigin href="//www.google-analytics.com/" rel="preconnect" />

    <slot name="preconnect" />

    <script is:inline>
      if (localStorage.getItem('dark-mode') === 'true')
        document.documentElement.classList.add('dark')
    </script>

    <script
      src="https://www.googletagmanager.com/gtag/js"
      async="async"
      crossorigin="anonymous"
      importance="low"
      fetchpriority="low"
    ></script>

    <slot name="async-scripts" />

    <slot name="critical-css" />

    <slot name="stylesheet" />

    <slot name="preload" />

    <slot name="defer-scripts" />

    <meta name="robots" content={options.meta_robots || 'index, follow'} />
    {
      options.description && (
        <meta name="description" content={options.description} />
      )
    }
    {options.description && <link href={Astro.url.href} rel="canonical" />}
    <meta name="author" content="Félix Icaza - https://felixicaza.com" />
    <meta name="generator" content={Astro.generator} />

    {
      options.description && (
        <Schema
          item={{
            '@context': 'https://schema.org',
            '@type': 'Organization',
            name: 'Estelí Buses',
            url: 'https://estelibuses.web.app',
            logo: 'https://estelibuses.web.app/favicons/android-chrome-512x512.png',
            sameAs: ['https://www.facebook.com/estelibuses']
          }}
        />
      )
    }

    <slot name="schema" />

    <Favicons />

    <meta name="color-scheme" content="light dark" />
    <meta name="theme-color" content={options.theme_color || '#fb923c'} />
    <meta
      name="msapplication-TileColor"
      content={options.theme_color || '#fb923c'}
    />
    <link href="/manifest.json" rel="manifest" />

    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-title" content="Estelí Buses" />
    <meta name="application-name" content="Estelí Buses" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <SplashScreens />

    <slot name="social-media" />

    <meta
      name="google-site-verification"
      content="IJH7DDHaPX1Us0he6rNkTPlC_9I5G5aktg3SKheBUNw"
    />
  </head>
  <body>
    <slot />

    <Footer />

    <BottomBar />

    <Aside />

    <ModalShare />

    <slot name="dynamic-components" />

    <UpdatePWAButton />

    <PromptiOS />

    <noscript class="bg-danger-600 fixed bottom-0 left-0 z-20 w-full">
      <article
        class="container mx-auto flex flex-col gap-8 px-4 py-8 text-white md:flex-row"
      >
        <section class="flex-1">
          <svg class="fill-current" width="50" height="50">
            <use href="/img/vector-sprites.svg#alert"></use>
          </svg>
        </section>
        <section class="flex-shrink">
          <p class="mb-2 text-2xl font-semibold text-white">
            JavaScript está desactivado.
          </p>
          <p class="text-white">
            Para usar todas las funcionalidades del sitio web es necesario tener
            JavaScript activado. <a
              class="text-white underline"
              href="https://www.enable-javascript.com/es/"
              referrerpolicy="no-referrer"
              rel="external noopenner nofollow noreferrer"
              target="_blank"
              >Haz click aquí para saber cómo activar JavaScript<svg
                class="ml-1 mb-[0.175rem] inline"
                width="16"
                height="16"
                ><use href="/img/vector-sprites.svg#external"></use>
              </svg>
            </a>, y sigue las instrucciones en tu navegador. Si no encuentras el
            tuyo, considera descargar uno más actualizado; recomiendo <a
              class="text-white underline"
              href="https://www.mozilla.org/es-ES/firefox/new/"
              referrerpolicy="no-referrer"
              rel="external noopenner nofollow noreferrer"
              target="_blank"
              >Mozilla Firefox<svg
                class="ml-1 mb-[0.175rem] inline"
                width="16"
                height="16"
                ><use href="/img/vector-sprites.svg#external"></use>
              </svg>
            </a>, <a
              class="text-white underline"
              href="https://www.google.com/intl/es/chrome/"
              referrerpolicy="no-referrer"
              rel="external noopenner nofollow noreferrer"
              target="_blank"
              >Google Chrome<svg
                class="ml-1 mb-[0.175rem] inline"
                width="16"
                height="16"
                ><use href="/img/vector-sprites.svg#external"></use>
              </svg>
            </a> o <a
              class="text-white underline"
              href="https://www.microsoft.com/es-es/edge/"
              referrerpolicy="no-referrer"
              rel="external noopenner nofollow noreferrer"
              target="_blank"
              >Microsoft Edge Chromium<svg
                class="ml-1 mb-[0.175rem] inline"
                width="16"
                height="16"
                ><use href="/img/vector-sprites.svg#external"></use>
              </svg>
            </a>, pero también puedes descargar el tú quieras 😉.
          </p>
        </section>
      </article>
    </noscript>
    <script>
      import { initializeApp } from 'firebase/app'
      import { getAnalytics } from 'firebase/analytics'
      import { listen } from 'quicklink/dist/quicklink.mjs'
      import '@scripts/logger.js'

      const soundPage = new Audio('/sounds/switch-tap.mp3')

      const isMobile = navigator.userAgent.match(/Android|iPhone|iPad|iPod/i)

      const firebaseConfig = {
        apiKey: 'AIzaSyAqPF5z2zeJCAXKmnAV6gfapspOK4joCEs',
        authDomain: 'buses-esteli-d2d5e.firebaseapp.com',
        projectId: 'buses-esteli-d2d5e',
        storageBucket: 'buses-esteli-d2d5e.appspot.com',
        messagingSenderId: '47347043568',
        appId: '1:47347043568:web:e1b9a83b88c35fe1a0c635',
        measurementId: 'G-4QFJH1D53Q'
      }

      const app = initializeApp(firebaseConfig)
      getAnalytics(app)

      function gtag() {
        dataLayer.push(arguments)
      }
      ;(window.dataLayer = window.dataLayer || []), gtag('js', new Date())

      window.addEventListener('load', async () => {
        listen()

        // const reloadBtn = document.getElementById('reload')

        // function showUpdateFounded(registration) {
        //   reloadBtn.classList.replace('opacity-0', 'opacity-100')

        //   setTimeout(() => {
        //     if (isMobile) {
        //       reloadBtn.classList.replace('translate-y-20', '-translate-y-20')
        //     } else {
        //       reloadBtn.classList.replace('right-0', 'left-0')
        //       reloadBtn.classList.replace('-translate-x-4', 'translate-x-8')
        //       reloadBtn.classList.replace('translate-y-20', '-translate-y-12')
        //     }
        //   }, 500)

        //   reloadBtn.addEventListener('click', () => {
        //     if (localStorage.getItem('sounds_enabled') === 'true') {
        //       soundPage.play()
        //     }

        //     if (
        //       'vibrate' in navigator &&
        //       localStorage.getItem('sounds_enabled') === 'false'
        //     ) {
        //       navigator.vibrate(80)
        //     }

        //     if (registration.waiting) {
        //       registration.waiting.postMessage('SKIP_WAITING')
        //     }
        //   })
        // }

        // const registration = await navigator.serviceWorker.register('/sw.js')

        // if (registration.waiting) {
        //   showUpdateFounded(registration)
        // }

        // registration.addEventListener('updatefound', () => {
        //   if (registration.installing) {
        //     registration.installing.addEventListener('statechange', () => {
        //       if (registration.waiting) {
        //         if (navigator.serviceWorker.controller) {
        //           showUpdateFounded(registration)
        //         }
        //       }
        //     })
        //   }
        // })
      })

      /**
       * Update PWA
       */

      // let refreshing

      // navigator.serviceWorker.addEventListener('controllerchange', () => {
      //   if (!refreshing) {
      //     window.location.reload()
      //     refreshing = true
      //   }
      // })
    </script>
  </body>
</html>
