name: Deploy project

'on':
   push:
      branches: [main]

jobs:
   build_deploy:
      runs-on: ubuntu-latest

      strategy:
         matrix:
            node-version: [18.x]

      steps:
         - uses: actions/checkout@v3.1.0

         - name: Using Node.js ${{ matrix.node-version }}
           uses: actions/setup-node@v3.5.1
           with:
              node-version: ${{ matrix.node-version }}

         - name: Install pnpm
           uses: pnpm/action-setup@v2.2.4
           with:
              version: latest

         # Use npm to install packages due to using pnpm causes error on build.
         # Commit: efed4d0
         - name: Install dependencies
           run: npm install

         - name: Build project
           run: npm run build

         - name: Create GSC html file verification
           uses: 1arp/create-a-file-action@0.2
           with:
              path: 'dist'
              file: 'google4ed26fc938fd8294.html'
              content: 'google-site-verification: google4ed26fc938fd8294.html'

         - name: Deploy project to Firebase
           uses: FirebaseExtended/action-hosting-deploy@v0
           with:
              repoToken: '${{ secrets.GITHUB_TOKEN }}'
              firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_BUSES_ESTELI_D2D5E }}'
              channelId: live
              projectId: buses-esteli-d2d5e
