name: Deploy preview project

'on':
   push:
      branches: [dev]

jobs:
   build_preview:
      runs-on: ubuntu-latest

      strategy:
         matrix:
            node-version: [16.x]

      steps:
         - uses: actions/checkout@v3.1.0

         - name: Using Node.js ${{ matrix.node-version }}
           uses: actions/setup-node@v3.5.1
           with:
              node-version: ${{ matrix.node-version }}

         - name: Install pnpm
           uses: pnpm/action-setup@v2.2.4
           with:
              version: latest

         - name: Install dependencies
           run: pnpm install

         - name: Cache pnpm modules
           uses: actions/cache@v3.0.11
           with:
              path: ~/.pnpm-store
              key: ${{ runner.os }}-${{ hashFiles('**/pnpm-lock.yaml') }}
              restore-keys: ${{ runner.os }}-

         - name: Build project
           run: pnpm build

         - name: Deploy preview to Firebase
           uses: FirebaseExtended/action-hosting-deploy@v0
           with:
              repoToken: '${{ secrets.GITHUB_TOKEN }}'
              firebaseServiceAccount: '${{ secrets.FIREBASE_SERVICE_ACCOUNT_BUSES_ESTELI_D2D5E }}'
              expires: 2d
              projectId: buses-esteli-d2d5e
              channelId: 'preview'
           env:
              FIREBASE_CLI_PREVIEWS: hostingchannels

         - name: Delete older preview runed workflows
           uses: Mattraks/delete-workflow-runs@v2.0.3
           with:
              token: ${{ secrets.GITHUB_TOKEN }}
              repository: 'Felix-Icaza/estelibuses'
              retain_days: 1
              keep_minimum_runs: 3
